.App {
  text-align: center;
}

.container{
  
  background-color: #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: large;
  
}
.inputgroup{
  margin: 10px 0;
  text-align: right;
}
label{
  font-weight: bold;
  /* margin-right: 10px; */
}





